div.file-getid3-video {
  width: 100%;
}

div.file-getid3-video > div {
  position: relative;
  height: 0;
}

div.file-getid3-video video,
div.file-getid3-video div.video-js {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}
